* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:dimgray;
}

.style {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.form-control {
  width: auto;
}

.fw-bold {
  text-align: center;
  font-size: 2.5em;
}

.fw-bold:hover {
  color:blueviolet;
}

.cards {
  display: flex;
  height: 450px;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

#films-card {
  border: 2px solid black;
  text-align: center;
  width: 350px;
  margin: 5px;
 background-color:orangered;
}

.films-image {
  width: 200px;
  
}

@media only screen and (max-width: 600px) {
  body {
    background-color:cornsilk;
    text-align: center;
  }
}